<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h2>URL Shortner</h2>
    <br />

    <% if(locals.id) { %>
    <p>URL Generated : http://localhost:3500/url/<%= id %></p>
    <%} %>

    <div>
      <form method="POST" action="/api/url">
        <label for="url">Enter Your Original URL :</label>
        <br />
        <input
          id="url"
          name="url"
          type="text"
          placeholder="https://example.com"
        />

        <button type="submit">Generate</button>
      </form>
    </div>
    <br />
    <br />
    <div>
      <% if(locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>S. NO</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url,index)=> { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl%></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <%} %>
    </div>
  </body>
</html>
